<tbody th:fragment="tableBody" th:each="detection : ${details}">
<tr>
  <td th:text="${detection?.riskLevel}"></td>
  <td>
    <!-- imageUrlBase64가 null이 아닐 때 인코딩된 이미지를 표시 -->
    <!-- 이미지 데이터가 있을 경우에만 표시 -->
    <img
            th:if="${detection?.imageUrlBase64 != null}"
            th:src="'data:image/jpeg;base64,' + ${detection.imageUrlBase64}"
            alt="Detection Image"
            width="175"
            th:attr="data-risk-level=${detection?.riskLevel},
             data-detection-time=${detection?.formattedDetectionTime},
             data-location=${detection?.cameraInstall?.location},
             data-camera-id=${detection?.cameraInstall?.cameraId},
             data-content=${detection?.content}"
            onclick="handleImageClick(this)"
    />

    <!-- 데이터가 없으면 기본 이미지를 표시 -->
    <img
            th:if="${detection?.imageUrlBase64 == null}"
            th:src="@{/images/placeholder.png}"
            alt="No Image Available"
            width="100"
    />
  </td>
  <td th:text="${detection?.formattedDetectionTime}"></td>
  <td th:text="${detection?.content}"></td>
  <td th:text="${detection?.cameraInstall?.location}"></td>
  <td th:text="${detection?.cameraInstall?.cameraId}"></td>
  <td th:text="${detection?.warning?.resolved}"></td>

</tr>
<!--디버깅 추가-->

</tbody>