.alert-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 0px 0px 20px;
    width: 100%;
}

.top-row {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
}

.bottom-row {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    align-items: center;
}

/* 일일 알림건수 컨테이너 */
.alert-container {
    flex: 1;
    max-width: 350px;
    padding: 0 10px;
    text-align: center;
}

.alert-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000000;
}

/* box */
.alert-box {
    height: 300px;
    width: 90%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* 콘텐츠 스타일 */
.alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 부제목 스타일 */
.alert-subtitle {
    font-size: 16px;
    color: #333;
    text-align: center;
}

/* 주별 알림 전체 컨테이너 */
.weekly-alert-container {
    max-width: 560px;
    padding: 0 10px;
    flex: 1;
}

/* 주별 알림 제목 스타일 */
.weekly-alert-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
}

/* 주별 알림 박스 */
.weekly-alert-box {
    width: 90%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 주별 알림 차트의 canvas 크기 */
#weeklyAlertChart {
    height: 100px;
    width: 100%;
}

/* 상단 네비게이션 바 */
.weekly-alert-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* 주별 알림 버튼 스타일 */
.alert-btn {
    width: 25px;
    height: 25px;
    background-color: #000;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
}

.alert-btn.hidden {
    visibility: hidden;
}

/* 주차 정보 스타일 */
.weekly-alert-details {
    font-size: 24px;
    color: #333;
    text-align: center;
}

#prevWeek {
    mask-image: url('../icon/prev.svg');
    margin-right: 20px;
}

#nextWeek {
    mask-image: url('../icon/next.svg');
    margin-left: 20px;
}

/* 연도별 알림건수 컨테이너 */
.yearly-alert-container {
    max-width: 600px;
    padding: 10px;
    text-align: center;
    flex: 1;
}

/* 연도별 알림건수 제목 스타일 */
.yearly-alert-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000000;
}

/* 연도 선택 */
.yearly-alert-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.current-year-display {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-left: 8px;
}

#yearSelect {
    font-size: 13px;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

/* 연도별 알림 박스 */
.yearly-alert-box {
    width: 90%;
    max-width: 550px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

#monthlyAlertsChart {
    width: 100%;
    max-width: 500px;
}

/* 교육 일정 컨테이너 */
.education-container {
    width: 100%;
    max-width: 350px;
    padding: 10px;

}

.yearly-alert-container {
    max-width: 580px;
    padding: 10px;
    text-align: center;
    flex: 1;
}
/* 메인 제목 */
.education-main-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
}

/* 교육 일정 박스 */
.education-box {
    width: 90%;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}

/* 부제목 */
.education-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 5px 0 10px 5px;
    text-align: left;
}

/* 필터와 부제목을 포함한 헤더 */
.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 아이콘 버튼 스타일 */
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 8px;
    cursor: pointer;
    background-color: #fff; /* 배경색을 white로 설정 */
}

.pencil-icon {
    width: 16px;
    height: 16px;
    background-image: url('../icon/pencil.svg');
    background-size: cover;
    display: inline-block;
}

.education-filter {
    display: flex;
    align-items: center;
}

.education-sort {
    font-size: 13px;
    padding: 6px 3px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

/* 교육 일정 목록 스타일 */
.education-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* 카드 스타일 */
.education-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 8px;
    padding: 6px;
    border: 0.7px solid #e0e0e0;
}

/* 날짜 스타일 */
.education-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    padding: 2px 20px;
    margin: 0 6px 0 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px 0px rgba(111, 111, 114, 0.12);
}

.day {
    font-size: 14px;
    font-weight: 600;
    color: #e25cd0;
}

.weekday {
    font-size: 11px;
    font-weight: 600;
    color: #565656;
}

/* 교육 일정 카드 상세 내용 */
.education-details {
    flex: 1;
    margin-left: 8px;
}

.edu-name {
    font-size: 13px;
    font-weight: 500;
    color: #2d2d2d !important;
    margin-bottom: 2px;
}

.edu-time {
    font-size: 11px !important;
    color: #888888 !important;
    margin-bottom: 0px;
}

#addEduForm input::placeholder {
    color: #a2a2a2;
    opacity: 1;
}

/* 드롭다운 아이콘 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    white-space: nowrap;
}

.dropdown .dropdown-menu .dropdown-item {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    outline: none;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #000;
}

.delete-icon {
    cursor: pointer;
}

/* 교육 일정 삭제시 모달 alert창 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.small-modal {
    width: 350px;
    height: 170px;
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-confirm {
    margin: 20px 0px 30px 0;
    font-size: 17px !important;
    font-weight: 500;
    color: #171717 !important;
    text-align: center;
}

.confirm-btn {
    background-color: #00B8D4;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.cancel-btn {
    background-color: #dcdcdc;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}



/* 일정 등록 모달 */
#addEduModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px 35px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    position: relative;
    text-align: center;
}

#closeEduModalButton {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 24px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.modal-content label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    margin: 10px 0 5px;
    text-align: left;
}

.modal-content input[type="text"],
.modal-content input[type="datetime-local"],
.modal-content input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
}
.modal-content input[type="text"]:focus,
.modal-content input[type="datetime-local"]:focus,
.modal-content input[type="number"]:focus {
    border-color: #00dcff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 184, 212, 0.5);
}
#submitEduButton {
    width: 65px;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #00B8D4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;

}

#submitEduButton:hover {
    background-color: #1c8c99;
}
