* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

/* 기본 팝업 스타일 */
.popup {
    display: flex;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* 팝업 내용 스타일 */
.popup-content {
    background-color: white;
    padding: 23px 25px;
    border-radius: 4px;
    width: 800px;
    /*height: 450px;*/
    position: relative;
}

/* 상단에 있는 위험 수준에 따른 색상 표시 바 */
.popup-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
}

.popup-title {
    font-size: 22px;
    margin: 2px 0 8px 0;
    text-align: left;
}

/* 아이콘 스타일 */
.alert-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    mask: url('../icon/warning.svg') no-repeat center;
    -webkit-mask: url('../icon/warning.svg') no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: currentColor;
    vertical-align: middle;
    margin: 0 5px 4px 0;
}

/* 팝업 설명 */
.popup-description {
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
    color: #2d2d2d;
    text-align: left;
}

/* 팝업 콘텐츠 본문 */
.popup-content-body {
    display: flex;
    gap: 35px;
    margin-bottom: 10px;
}

/* 이미지 */
.popup-image {
    width: 400px;
    height: 280px;
    border-radius: 4px;
}

/* 상세 정보 섹션 */
.popup-details {
    width: 100%;
    gap: 15px;
}

.detail-section {
    flex: 1;
}

.section-title {
    font-weight: 600;
    font-size: 14px;
    color: #5d5d5d;
    margin-bottom: 8px;
}

.detail-row {
    display: flex;
    gap: 21px;
    margin-bottom: 20px;
}

.detail-item {
    display: flex;
    align-items: center;
    background-color: #f5f7fa;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    color: #555;
    width: 155px;
    gap: 8px;
}

.detail-item::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #525252;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: center;
    -webkit-mask-position: center;
    padding: 3px;
    margin-right: 5px;
}

/* 아이콘 스타일 */
.icon-location::before {
    mask: url('../icon/location.svg') no-repeat center;
    -webkit-mask: url('../icon/location.svg') no-repeat center;
}

.icon-camera::before {
    mask: url('../icon/camera.svg') no-repeat center;
    -webkit-mask: url('../icon/camera.svg') no-repeat center;
}

.icon-calendar::before {
    mask: url('../icon/calendar.svg') no-repeat center;
    -webkit-mask: url('../icon/calendar.svg') no-repeat center;
}

.icon-clock::before {
    mask: url('../icon/clock.svg') no-repeat center;
    -webkit-mask: url('../icon/clock.svg') no-repeat center;
}

.popup-footer {
    text-align: right;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
}

#confirmAlertPopup {
    display: none;
    position: absolute;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 340px;
    height: 180px;
}

.small-popup {
    width: 350px;
    height: 180px;
    padding: 30px;
    text-align: center;
}

.popup-confirm {
    margin: 20px 0px 35px 0;
    font-size: 18px;
    font-weight: 500;
    color: #2d2d2d;
    text-align: center;
}

.confirm-btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-center-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* 위험 수준별 배경색 */
.popup-high .popup-content::before {
    background-color: red;
    content: "";
    position: absolute;
    left: -5%;
    width: calc(100% + 66px);
    height: 6px;
    box-sizing: border-box;
    z-index: 1;
}
.popup-medium .popup-content::before {
    background-color: rgb(255, 149, 55);
    content: "";
    position: absolute;
    left: -5%;
    width: calc(100% + 66px);
    height: 6px;
    box-sizing: border-box;
    z-index: 1;
}
.popup-low .popup-content::before {
    background-color: rgb(255, 217, 59);
    content: "";
    position: absolute;
    left: -5%;
    width: calc(100% + 66px);
    height: 6px;
    box-sizing: border-box;
    z-index: 1;
}

/* 위험 수준에 따른 제목 및 아이콘 색상 */
.popup-high .popup-title, .popup-high .alert-icon {
    color: red;
}

.popup-medium .popup-title, .popup-medium .alert-icon {
    color: rgb(255, 149, 55);
}

.popup-low .popup-title, .popup-low .alert-icon {
    color: rgb(255, 217, 59);
}


