<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monitoring</title>
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="css/monitoring.css">
  <script src="js/menu.js"></script>
  <script src="js/monitoring.js"></script>
</head>
<body>
<div class="container">
  <div class="sidebar">
    <div class="logo">
        <span class="logo-icon">
            <img src="icon/safewatch.svg" alt="Safe Watch Icon">
        </span>
      <h2>Safe Watch</h2>
    </div>
    <div class="menu">
      <ul>
        <li class="menu-item active" onclick="selectMenu('monitoring')">
          <span class="menu-icon1"></span>
          <span class="menu-text">Monitoring</span>
        </li>
        <li class="menu-item" onclick="selectMenu('events')">
          <span class="menu-icon2"></span>
          <span class="menu-text">Events</span>
        </li>
        <li class="menu-item" onclick="selectMenu('analytics')">
          <span class="menu-icon3"></span>
          <span class="menu-text">Analytics</span>
        </li>
      </ul>
    </div>
    <div class="menu-item" onclick="selectMenu('settings')">
      <span class="menu-icon4"></span>
      <span class="menu-text">Settings</span>
    </div>
  </div>

  <div class="main-content">
    <header>
      <h1 class="main-text">Monitoring</h1>
      <p>2024년 11월 12일</p>
    </header>
    <div class="nav-tabs">
      <div class="nav-tab active">Section 1</div>
      <div class="nav-tab">Section 2</div>
      <div class="nav-tab">Section 3</div>
    </div>

    <div class="video-container">
      <div class="video-card">
        <img src="img/example (1).jpg" alt="Video Thumbnail" class="video-thumbnail">
        <div class="video-info">
          <div class="video-icon-container">
            <img src="icon/notification.svg" alt="Notification Icon" class="video-icon">
          </div>
          <span>cam 1-①</span>
        </div>
      </div>
      <div class="video-card">
        <img src="img/example (2).jpg" alt="Video Thumbnail" class="video-thumbnail">
        <div class="video-info">
          <div class="video-icon-container">
            <img src="icon/notification.svg" alt="Notification Icon" class="video-icon">
          </div>
          <span>cam 1-②</span>
        </div>
      </div>
      <div class="video-card">
        <img src="img/example (3).jpg" alt="Video Thumbnail" class="video-thumbnail">
        <div class="video-info">
          <div class="video-icon-container">
            <img src="icon/notification.svg" alt="Notification Icon" class="video-icon">
          </div>
          <span>cam 1-③</span>
        </div>
      </div>
      <div class="video-card">
        <img src="img/example (4).jpg" alt="Video Thumbnail" class="video-thumbnail">
        <div class="video-info">
          <div class="video-icon-container">
            <img src="icon/notification.svg" alt="Notification Icon" class="video-icon">
          </div>
          <span>cam 1-④</span>
        </div>
      </div>
      <div class="video-card">
        <img src="img/example (5).jpg" alt="Video Thumbnail" class="video-thumbnail">
        <div class="video-info">
          <div class="video-icon-container">
            <img src="icon/notification.svg" alt="Notification Icon" class="video-icon">
          </div>
          <span>cam 1-⑤</span>
        </div>
      </div>
      <div class="video-card">
        <img src="img/example (6).jpg" alt="Video Thumbnail" class="video-thumbnail">
        <div class="video-info">
          <div class="video-icon-container">
            <img src="icon/notification.svg" alt="Notification Icon" class="video-icon">
          </div>
          <span>cam 1-⑥</span>
        </div>
      </div>
    </div>

    <ul class="pagination">
      <li><a href="#">◀</a></li>
      <li><a href="#" class="active">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">▶</a></li>
    </ul>
  </div>
</div>

<div id="alertModal" class="modal">
  <div class="modal-content">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <div class="modal-header">
      <div class="modal-title-group">
        <p class="modal-subtitle">Section 1</p>
        <h1 class="modal-title">
          cam_001
          <span class="modal-icon-container">
              <img src="icon/notification.svg" alt="Notification Icon" class="modal-icon">
          </span>
        </h1>
      </div>
      <button class="events-button">Events List</button>
    </div>
    <div class="modal-content-body">
      <img src="" alt="Alert Image" id="modalImage" class="modal-image">
    </div>
  </div>
</div>

</body>
</html>
