<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>settings</title>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/settings.css">
</head>
<body>
<div class="sidebar">
    <div class="logo">
          <span class="logo-icon">
            <img src="icon/safewatch.svg" alt="Safe Watch Icon">
          </span>
        <h2>Safe Watch</h2>
    </div>
    <div class="menu">
        <ul>
            <li class="menu-item" onclick="selectMenu('monitoring')">
                <span class="menu-icon1"></span>
                <span class="menu-text">Monitoring</span>
            </li>
            <li class="menu-item" onclick="selectMenu('events')">
                <img class="menu-icon2" src="../icon/events.svg" alt="Events Icon">
                <span class="menu-text">Events</span>
                <span class="menu-detection-size"></span>
            </li>
            <li class="menu-item" onclick="selectMenu('analytics')">
                <span class="menu-icon3"></span>
                <span class="menu-text">Analytics</span>
            </li>
        </ul>
    </div>
    <div class="menu-item active" onclick="selectMenu('settings')">
        <span class="menu-icon4"></span>
        <span class="menu-text">Settings</span>
    </div>
</div>

<div class="main-content">
    <header>
        <h1 class="main-text">Settings</h1>
        <p>날짜</p>
    </header>
    <div class="settings">
        <!-- 소리 알림 -->
        <div class="setting-item">
            <span class="setting-label">소리 알림</span>
            <label class="toggle-switch">
                <input type="checkbox" id="sound-toggle">
                <span class="slider"></span>
            </label>
        </div>

        <!-- 음량 조절 -->
        <div class="setting-item">
            <label for="volume-control" class="setting-label">음량 조절</label>
            <input type="range" id="volume-control" class="volume-range" min="0" max="100" value="50">
        </div>

        <!-- 로그아웃 -->
        <div class="setting-item logout-item" onclick="showLogoutModal()">
            <span class="setting-label">로그아웃</span>
            <span class="arrow-button">&gt;</span>
        </div>
    </div>
</div>

<!-- 로그아웃 모달 -->
<div id="logout-modal" class="modal">
    <div class="modal-content small-modal">
        <p class="modal-confirm">로그아웃하시겠습니까?</p>
        <div class="modal-footer">
            <button class="confirm-btn" id="logoutConfirmBtn">확인</button>
            <button class="cancel-btn" id="logoutCancelBtn">취소</button>
        </div>
    </div>
</div>

<script src="js/menu.js"></script>
<script src="js/settings.js"></script>
</body>
</html>
