<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warning_front</title>
  <script src="js/warning_front.js"></script>
</head>
<body>
<div class="button-container">
  <button onclick="openPopup('매우 위험')" class="alert-button">매우 위험</button>
  <button onclick="openPopup('위험')" class="alert-button">위험</button>
  <button onclick="openPopup('주의')" class="alert-button">주의</button>
</div>

<audio id="alertSound01" src="sounds/sound_01.mp3" preload="auto"></audio>
<audio id="alertSound02" src="sounds/sound_02.mp3" preload="auto"></audio>
<audio id="alertSound03" src="sounds/sound_03.mp3" preload="auto"></audio>

</body>
</html>
